.hero__title {
  text-align: center;
  font-size: var(--fs-large);
  font-family: var(--ff-secondary);
  /* max-width: 15ch; */

  margin-bottom: clamp(3rem, 5vw + 1rem, 5rem);
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  margin-bottom: clamp(3rem, 5vw + 1rem, 5rem);
}

.search-box {
  padding: 1rem 1.5rem;
  background: var(--clr-700);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;

  border: 2px solid transparent;
}

.search-box:focus-within {
  border-color: var(--clr-100);
}

.hero__input {
  font-size: var(--fs-600);
  border: 0;
  outline: 0;
  background: none;
  color: var(--clr-100);
  width: 100%;
}

.hero__input::placeholder {
  color: var(--clr-100);
}

.hero__search--btn {
  position: relative;
  padding: 1rem;
  width: 100%;
  font-size: var(--fs-600);
  background: var(--clr-blue-500);
  border-radius: 10px;

  /* inset: 2px solid transparent; */
  transition: all 0.3s ease;
}

.hero__search--btn:hover {
  background: var(--clr-blue-700);
}

.hero__search--btn:focus-visible::after,
.hero__search--btn:active::after {
  content: "";
  position: absolute;
  inset: -6px; /* controls spacing between button & border */
  border: 2px solid var(--clr-blue-500);
  border-radius: 15px; /* slightly larger than button */
  pointer-events: none;
}

@media (min-width: 48rem) {
  .search-container {
    flex-direction: row;
    max-width: 40.625rem; /* 650px */
    margin-inline: auto;
  }

  .search-box {
    flex: 8.5;
  }

  .hero__search--btn {
    flex: 1.5;
  }
}

/* ============= HERO SECTION ============== */

.main__section {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero-section"
    "weather-tiles-tab"
    "daily-forecast-tab"
    "hourly-forcast-tab";

  margin-bottom: clamp(1rem, 2vw + 1rem, 2rem);
}

.hero__section,
.weather__tiles,
.weather__daily--forecast,
.weather__hourly--forecast {
  border-radius: 15px;
  padding: clamp(1rem, 2vw + 1rem, 2rem);
}

.hero__section {
  grid-area: hero-section;
  margin-inline: auto;

  width: 100%;

  background-image: url(../../assets/images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.weather__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.weather__box--text {
  line-height: 1.5;
  text-align: center;
}

.text-country {
  font-size: var(--fs-800);
  font-weight: 700;
}

.text-date {
  color: var(--clr-200);
}

.weather__box--detail {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.weather__box--detail img {
  width: 7rem;
}

.text-temp {
  font-size: 7rem;
  font-weight: 700;
  font-style: italic;
}

.weather__tiles {
  grid-area: weather-tiles-tab;
  margin-inline: auto;
  background: yellow;

  /* margin-bottom: clamp(1rem, 2vw + 1rem, 2rem); */

  width: 100%;
}

.weather__daily--forecast {
  grid-area: daily-forecast-tab;
  margin-inline: auto;
  background: green;

  /* margin-bottom: clamp(1rem, 2vw + 1rem, 2rem); */

  width: 100%;
}

.weather__hourly--forecast {
  grid-area: hourly-forcast-tab;
  margin-inline: auto;
  background: blue;

  /* margin-bottom: clamp(1rem, 2vw + 1rem, 3rem); */

  width: 100%;
}

@media (min-width: 48rem) {
  .main__section {
    /* width: 100%; */
    grid-template-areas:
      "hero-section hourly-forcast-tab"
      "weather-tiles-tab hourly-forcast-tab"
      "daily-forecast-tab hourly-forcast-tab";
  }

  .hero__section {
    background-image: url(../../assets/images/bg-today-large.svg);
  }

  .weather__box {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 3rem;
    width: 100%;
  }

  .weather__box--text {
    line-height: 1.5;
    text-align: left;
  }
}
