.hero__title {
  text-align: center;
  font-size: var(--fs-large);
  font-family: var(--ff-secondary);
  /* max-width: 15ch; */

  margin-bottom: clamp(3rem, 5vw + 1rem, 5rem);
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  margin-bottom: clamp(3rem, 5vw + 1rem, 5rem);
}

.search-box {
  padding: 1rem 1.5rem;
  background: var(--clr-700);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;

  border: 2px solid transparent;
}

.search-box:focus-within {
  border-color: var(--clr-100);
}

.hero__input {
  font-size: var(--fs-600);
  border: 0;
  outline: 0;
  background: none;
  color: var(--clr-100);
  width: 100%;
}

.hero__input::placeholder {
  color: var(--clr-100);
}

.hero__search--btn {
  position: relative;
  padding: 1rem;
  width: 100%;
  font-size: var(--fs-600);
  background: var(--clr-blue-500);
  border-radius: 10px;

  /* inset: 2px solid transparent; */
  transition: all 0.3s ease;
}

.hero__search--btn:hover {
  background: var(--clr-blue-700);
}

.hero__search--btn:focus-visible::after,
.hero__search--btn:active::after {
  content: "";
  position: absolute;
  inset: -6px; /* controls spacing between button & border */
  border: 2px solid var(--clr-blue-500);
  border-radius: 15px; /* slightly larger than button */
  pointer-events: none;
}

@media (min-width: 48rem) {
  .search-container {
    flex-direction: row;
    max-width: 40.625rem; /* 650px */
    margin-inline: auto;
  }

  .search-box {
    flex: 8.5;
  }

  .hero__search--btn {
    flex: 1.5;
  }
}

/* ============= HERO SECTION ============== */

.main__section {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero-section"
    "weather-tiles-tab"
    "daily-forecast-tab"
    "hourly-forcast-tab";

  margin-bottom: clamp(1rem, 2vw + 1rem, 2rem);
}

.hero__section,
.weather__tiles,
.weather__daily--forecast,
.weather__hourly--forecast {
  border-radius: 15px;
  /*  */
}

.hero__section {
  grid-area: hero-section;
  margin-inline: auto;

  width: 100%;

  background-image: url(../../assets/images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.weather__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: clamp(1rem, 2vw + 1rem, 2rem);
}

.weather__box--text {
  line-height: 1.5;
  text-align: center;
}

.text-country {
  font-size: var(--fs-800);
  font-weight: 700;
}

.text-date {
  color: var(--clr-200);
}

.weather__box--detail {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.weather__box--detail img {
  width: 7rem;
}

.text-temp {
  font-size: 7rem;
  font-weight: 700;
  font-style: italic;
}

.weather__tiles {
  grid-area: weather-tiles-tab;
  /* margin-inline: auto; */

  /* margin-bottom: clamp(1rem, 2vw + 1rem, 2rem); */

  width: 100%;
  padding: 0;
}

.card-grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.card-grid .card {
  /* aspect-ratio: 1 / 1; */

  background-color: var(--clr-600);
  border-radius: 10px;

  padding: clamp(1rem, 2vw + 1rem, 1.5rem);
}

.weather__tiles .card-grid .card .temp-state {
  font-size: var(--fs-300);
}

.weather__tiles .card-grid .card .temp-number {
  font-size: var(--fs-800);
  margin-top: 1rem;
}

.weather__daily--forecast {
  grid-area: daily-forecast-tab;
  margin-inline: auto;
  /* background: green; */

  margin-bottom: clamp(1rem, 2vw + 1rem, 2rem);

  width: 100%;
}

.weather__daily--forecast .temp-title {
  margin-block: 1rem;

  font-size: var(--fs-500);
  font-weight: 600;
}

.weather__daily--forecast .card-grid {
  grid-template-columns: repeat(3, 1fr);
}

.weather__daily--forecast .card-grid .card {
  padding: clamp(0.5rem, 1vw + 0.5rem, 1rem);

  text-align: center;
}

.weather__daily--forecast .card-grid .card p {
  font-size: var(--fs-300);
}

.temp-img {
  width: 60px;
}

.temp-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather__hourly--forecast .card-grid {
  grid-template-columns: 1fr;
}

.weather__hourly--forecast {
  grid-area: hourly-forcast-tab;
  margin-inline: auto;
  padding: clamp(1rem, 2vw + 1rem, 1.5rem);

  /* margin-bottom: clamp(1rem, 2vw + 1rem, 3rem); */

  /* width: clamp(100%, 20vw + 2rem, 400px); */
  width: 100%;

  background: var(--clr-700);
}

.temp-title {
  font-size: var(--fs-500);
}

.hourly-forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.hour-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--clr-600);

  padding: 1rem;
  border-radius: 10px;
}

.weather__hourly--forecast .card-grid .hour-card .temp-time {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.weather__hourly--forecast .card-grid .hour-card .temp-number {
  font-size: var(--fs-300);
}

.weather__hourly--forecast .card-grid .hour-card .temp-time .temp-img {
  width: 30px;
}

.days-dropdown {
  position: relative;
}

.days-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-300);

  gap: 0.5rem;
  background-color: var(--clr-700);
  padding: 0.5rem 0.7rem;
  border-radius: 6px;

  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: var(--clr-800);
  border-radius: 12px;
  padding: 0.5rem;
  min-width: 260px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  width: 100%;
  text-align: left;
  /* background-color: var(--clr-700); */
  padding: 0.5rem;
  border-radius: 8px;

  font-size: var(--fs-400);

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.dropdown-item.selected {
  background-color: var(--clr-700);
}

@media (min-width: 48rem) {
  .main__section {
    /* width: 100%; */
    grid-template-areas:
      "hero-section hourly-forcast-tab"
      "weather-tiles-tab hourly-forcast-tab"
      "daily-forecast-tab hourly-forcast-tab";
  }

  .hero__section {
    background-image: url(../../assets/images/bg-today-large.svg);
  }

  .weather__box {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 3rem;
    width: 100%;
  }

  .weather__box--text {
    line-height: 1.5;
    text-align: left;
  }

  .weather__tiles .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .weather__daily--forecast .card-grid {
    grid-template-columns: repeat(7, minmax(50px, 1fr));
  }

  .weather__hourly--forecast {
    width: 350px;
  }

  .temp-title {
    font-size: var(--fs-400);
  }
}
