/* ============================================= */
/* ============== ROOT VARIABLES ================ */
/* ============================================= */
:root {
  /* ===== Neutral colors ===== */
  --clr-900: hsl(243, 96%, 9%);
  --clr-800: hsl(243, 27%, 20%);
  --clr-700: hsl(243, 23%, 24%);
  --clr-600: hsl(243, 23%, 30%);
  --clr-300: hsl(240, 6%, 70%);
  --clr-200: hsl(250, 6%, 84%);
  --clr-100: hsl(0, 0%, 100%);

  /* ===== Secondary colors ===== */
  --clr-blue-700: hsl(248, 70%, 36%);
  --clr-blue-500: hsl(233, 67%, 56%);

  /* ===== Accent colors ===== */
  --clr-accent: hsl(28, 100%, 52%);

  /* ===== Font Families ===== */
  --ff-secondary: "Bricolage Grotesque", sans-serif;
  --ff-primary: "DM Sans", sans-serif;

  /* ===== Font Sizes ===== */
  --fs-300: 0.875rem; /* 14px */
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.125rem; /* 18px */
  --fs-600: 1.25rem; /* 20px */
  --fs-700: 1.5rem; /* 24px */
  --fs-800: 2rem; /* 32px */
  --fs-900: 3rem; /* 48px */

  /* ===== Container Sizes ===== */
  --container-max: 72rem; /* 1152px */
  --container-padding: clamp(1rem, 4vw, 2rem); /* 16px - 32px */
}

/* ============================================= */
/* ================= RESETS =================== */
/* ============================================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-900);
  color: var(--clr-100);
  font-size: var(--fs-500);
}

ul,
li {
  list-style: none;
}

button {
  font-family: inherit;
  /* font-size: inherit; */
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  width: min(100% - var(--container-padding) * 2, var(--container-max));
  margin-inline: auto;
}
